<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Contact ::
    w3layouts</title>
  <!--/tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--//tags -->
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
  <link
    href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Modal1 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="col-md-8 modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
            <form action="#" method="post">
              <div class="styled-input agile-styled-input-top">
                <input type="text" name="Name" required="">
                <label>Name</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="email" name="Email" required="">
                <label>Email</label>
                <span></span>
              </div>
              <input type="submit" value="Sign In">
            </form>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
              <li><a href="#" class="facebook">
                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="twitter">
                  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="instagram">
                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="pinterest">
                  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </a></li>
            </ul>
            <div class="clearfix"></div>
            <p><a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a></p>

          </div>
          <div class="col-md-4 modal_body_right modal_body_right1">
            <img src="./../assets/images/log_pic.jpg" alt=" " />
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Modal content-->
    </div>
  </div>
  <!-- //Modal1 -->
  <!-- Modal2 -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="col-md-8 modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
            <form action="#" method="post">
              <div class="styled-input agile-styled-input-top">
                <input type="text" name="Name" required="">
                <label>Name</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="email" name="Email" required="">
                <label>Email</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="password" name="password" required="">
                <label>Password</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="password" name="Confirm Password" required="">
                <label>Confirm Password</label>
                <span></span>
              </div>
              <input type="submit" value="Sign Up">
            </form>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
              <li><a href="#" class="facebook">
                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="twitter">
                  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="instagram">
                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="pinterest">
                  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </a></li>
            </ul>
            <div class="clearfix"></div>
            <p><a href="#">By clicking register, I agree to your terms</a></p>

          </div>
          <div class="col-md-4 modal_body_right modal_body_right1">
            <img src="./../assets/images/log_pic.jpg" alt=" " />
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Modal content-->
    </div>
  </div>
  <!-- //Modal2 -->
  <!-- /banner_bottom_agile_info -->
  <div class="page-head_agile_info_w3l">
    <div class="container">
      <h3>C<span>ontactános </span></h3>
      <!--/w3_short-->
      <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">

          <ul class="w3_short">
            <li><a href="index.html">Inicio</a><i>|</i></li>
            <li>Contactános</li>
          </ul>
        </div>
      </div>
      <!--//w3_short-->
    </div>
  </div>
  <!--/contact-->
  <div class="banner_bottom_agile_info">
    <div class="container">
      <div class="contact-grid-agile-w3s">
        <div class="col-md-4 contact-grid-agile-w3">
          <div class="contact-grid-agile-w31">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>Dirección</h4>
            <p>Cra 82b # 29 - 14 Medellin, Colombia.</p>
          </div>
        </div>
        <div class="col-md-4 contact-grid-agile-w3">
          <div class="contact-grid-agile-w32">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h4>Llamanos</h4>
            <p>+57 324 4067864</p>
          </div>
        </div>
        <div class="col-md-4 contact-grid-agile-w3">
          <div class="contact-grid-agile-w33">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <h4>Email</h4>
            <p><a href="mailto:fantasystudiowc@gmail.com">fantasystudiowc@gmail.com</a></p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="contact-w3-agile1 map" data-aos="flip-right">

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783"
      class="map" style="border:0" allowfullscreen=""></iframe>
  </div>
  <div class="banner_bottom_agile_info">
    <div class="container">
      <div class="agile-contact-grids">
        <div class="agile-contact-left">
          <div class="col-md-6 address-grid">
            <h4>Para mayor <span>Información</span></h4>
            <div class="mail-agileits-w3layouts">
              <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              <div class="contact-right">
                <p>Télefono </p><span>+57 324 4067864</span>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="mail-agileits-w3layouts">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <div class="contact-right">
                <p>Email </p><a href="mailto:fantasystudiowc@gmail.com">fantasystudiowc@gmail.com</a>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="mail-agileits-w3layouts">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <div class="contact-right">
                <p>Dirección</p><span>Cra 82b # 29 14. Medellin, Colombia</span>
              </div>
              <div class="clearfix"> </div>
            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two contact">
              <li class="share">Redes sociales : </li>
              <li><a href="#" class="facebook">
                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="twitter">
                  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="instagram">
                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="pinterest">
                  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </a></li>
            </ul>
          </div>
          <div class="col-md-6 contact-form">
            <h4 class="white-w3ls">Contactános </h4>
            <form action="#" method="post">
              <div class="styled-input agile-styled-input-top">
                <input type="text" name="Name" required="">
                <label>Nombre</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="email" name="Email" required="">
                <label>Email</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="text" name="Subject" required="">
                <label>Asunto</label>
                <span></span>
              </div>
              <div class="styled-input">
                <textarea name="Message" required=""></textarea>
                <label>Mensaje</label>
                <span></span>
              </div>
              <input type="submit" value="ENVIAR">
            </form>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//contact-->
  <!--/grids-->
  <div class="coupons">
    <div class="coupons-grids text-center">
      <div class="w3layouts_mail_grid">
        <div class="col-md-3 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>ENVIOS GRATIS</h3>
            <p>Hacemos envios a todas las partes del mundo</p>
          </div>
        </div>
        <div class="col-md-3 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-headphones" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>SOPORTE 24/7</h3>
            <p>En todo momento tenemos soporte</p>
          </div>
        </div>
        <div class="col-md-3 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>GARANTIA DE DINERO</h3>
            <p>Si no estas satisfecho con la prenda, te devolvemos el dinero!</p>
          </div>
        </div>
        <div class="col-md-3 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-gift" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>DESCUENTOS Y MUCHO MAS</h3>
            <p>Tenemos muchas promociones y descuentos para ti</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>

    </div>
  </div>
  <!--grids-->

  <!-- login -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-spa">
          <div class="login-grids">
            <div class="login">
              <div class="login-bottom">
                <h3>Sign up for free</h3>
                <form>
                  <div class="sign-up">
                    <h4>Email :</h4>
                    <input type="text" value="Type here" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                  </div>
                  <div class="sign-up">
                    <h4>Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">

                  </div>
                  <div class="sign-up">
                    <h4>Re-type Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">

                  </div>
                  <div class="sign-up">
                    <input type="submit" value="REGISTER NOW">
                  </div>

                </form>
              </div>
              <div class="login-right">
                <h3>Sign in with your account</h3>
                <form>
                  <div class="sign-in">
                    <h4>Email :</h4>
                    <input type="text" value="Type here" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                  </div>
                  <div class="sign-in">
                    <h4>Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <a href="#">Forgot password?</a>
                  </div>
                  <div class="single-bottom">
                    <input type="checkbox" id="brand" value="">
                    <label for="brand"><span></span>Remember Me.</label>
                  </div>
                  <div class="sign-in">
                    <input type="submit" value="SIGNIN">
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //login -->
  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
    </span></a>
</body>

</html>