<!-- header-bot -->
<div class="header-bot" style="background: #000000;">
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <!-- <div class="col-md-4 header-middle" style="transform: translateY(50%);">
      <form action="#" method="post">
        <input type="search" name="search" placeholder="Busca aqui..." required="">
        <input type="submit" value=" ">
        <div class="clearfix"></div>
      </form>
    </div> -->
    <!-- header-bot -->
    <div class="col-md-4 logo_agile">
      <img src="./../assets/images/logo.png" alt="logo" width="300px">
    </div>
    <!-- header-bot -->
    <div class="col-md-4 agileits-social top_content" style="transform: translateY(50%);">
      <!-- <ul class="social-nav model-3d-0 footer-social w3_agile_social">
        <li class="share">Share On : </li>
        <li><a href="#" class="facebook">
            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="twitter">
            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="instagram">
            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="pinterest">
            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
          </a></li>
      </ul> -->

    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header-bot -->
<div class="ban-top">
  <div class="container">
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu__list">
              <li class="active menu__item " [ngClass]="{ 'menu__item--current': currentUrl === '/home' }"><a
                  class="menu__link" (click)="goTo('home')">Inicio <span class="sr-only">(current)</span></a></li>
              <li class=" menu__item" [ngClass]="{ 'menu__item--current': currentUrl === '/members' }"><a
                  class="menu__link" (click)="goTo('members')">Modelos</a></li>
              <li class="dropdown menu__item" [ngClass]="{ 'menu__item--current': currentUrl === '/products' }"
                (click)="openMenu('first')">
                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Articulos de mujeres <span class="caret"></span></a>
                <ul class="dropdown-menu multi-column columns-3" *ngIf="menu.first" [@enterAnimation]>
                  <div class="agile_inner_drop_nav_info">
                    <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                      <a (click)="goTo('product')"><img src="./../assets/images/lenceria1.jpg" alt=" " /></a>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a (click)="goTo('product', 'Brasier')">Brasier</a></li>
                        <li><a (click)="goTo('product', 'Panty')">Panty</a></li>
                        <li><a (click)="goTo('product', 'Tanga')">Tanga</a></li>
                        <li><a (click)="goTo('product', 'Cachetero')">Cachetero</a></li>
                        <li><a (click)="goTo('product', 'Body')">Body</a></li>
                      </ul>
                    </div>
                   <!--  <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a (click)="goTo('product')">Jewellery</a></li>
                        <li><a (click)="goTo('product')">Sunglasses</a></li>
                        <li><a (click)="goTo('product')">Perfumes</a></li>
                        <li><a (click)="goTo('product')">Beauty</a></li>
                        <li><a (click)="goTo('product')">Shirts</a></li>
                        <li><a (click)="goTo('product')">Sunglasses</a></li>
                        <li><a (click)="goTo('product')">Swimwear</a></li>
                      </ul>
                    </div> -->
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <li class="dropdown menu__item" [ngClass]="{ 'menu__item--current': currentUrl === '/products' }">
                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" (click)="openMenu('second')">Articulos de hombres <span
                    class="caret"></span></a>
                <ul class="dropdown-menu multi-column columns-3" *ngIf="menu.second" [@enterAnimation]>
                  <div class="agile_inner_drop_nav_info">
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a (click)="goTo('product', 'Boxer')">Boxer</a></li>
                        <li><a (click)="goTo('product', 'Tanga')">Tanga</a></li>
                        <li><a (click)="goTo('product', 'Dildo')">Dildo</a></li>
                        <li><a (click)="goTo('product', 'Lenceria')">Lenceria</a></li>
                        <!-- <li><a (click)="goTo('product')">Accessories</a></li>
                        <li><a (click)="goTo('product')">Bags</a></li>
                        <li><a (click)="goTo('product')">Caps & Hats</a></li> -->
                      </ul>
                    </div>
                   <!--  <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a (click)="goTo('product')">Jewellery</a></li>
                        <li><a (click)="goTo('product')">Sunglasses</a></li>
                        <li><a (click)="goTo('product')">Perfumes</a></li>
                        <li><a (click)="goTo('product')">Beauty</a></li>
                        <li><a (click)="goTo('product')">Shirts</a></li>
                        <li><a (click)="goTo('product')">Sunglasses</a></li>
                        <li><a (click)="goTo('product')">Swimwear</a></li>
                      </ul>
                    </div> -->
                    <div class="col-sm-6 multi-gd-img multi-gd-text ">
                      <a (click)="goTo('product')"><img src="./../assets/images/lenceria2.jpg" alt=" " /></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- <li class="menu__item dropdown">
                <a class="menu__link" href="#" class="dropdown-toggle" data-toggle="dropdown">Short
                  Codes <b class="caret" (click)="openMenu('third')"></b></a>
                <ul class="dropdown-menu agile_short_dropdown" *ngIf="menu.third"[@enterAnimation]>
                  <li><a href="icons.html">Web Icons</a></li>
                  <li><a href="typography.html">Typography</a></li>
                </ul>
              </li> -->
              <li class=" menu__item" [ngClass]="{ 'menu__item--current': currentUrl === '/contact' }"><a
                  class="menu__link" (click)="goTo('contact')">Contactános</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- <div class="top_nav_right">
      <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        <form action="#" method="post" class="last">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="display" value="1">
          <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down"
              aria-hidden="true"></i></button>
        </form>

      </div>
    </div> -->
    <div class="clearfix"></div>
  </div>
</div>