<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home ::
    w3layouts</title>
  <!--/tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--//tags -->
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
  <link
    href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- header -->
  <!-- <div class="header" id="home">
		<div class="container">
			<ul>
				<li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt"
							aria-hidden="true"></i> Sign In </a></li>
				<li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o"
							aria-hidden="true"></i> Sign Up </a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a
						href="mailto:info@example.com">info@example.com</a></li>
			</ul>
		</div>
	</div> -->
  <!-- //header -->

  <!-- Modal1 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="col-md-8 modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
            <form action="#" method="post">
              <div class="styled-input agile-styled-input-top">
                <input type="text" name="Name" required="">
                <label>Name</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="email" name="Email" required="">
                <label>Email</label>
                <span></span>
              </div>
              <input type="submit" value="Sign In">
            </form>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
              <li><a href="#" class="facebook">
                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="twitter">
                  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="instagram">
                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="pinterest">
                  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </a></li>
            </ul>
            <div class="clearfix"></div>
            <p><a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a></p>

          </div>
          <div class="col-md-4 modal_body_right modal_body_right1">
            <img src="./../assets/images/log_pic.jpg" alt=" " />
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Modal content-->
    </div>
  </div>
  <!-- //Modal1 -->
  <!-- Modal2 -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="col-md-8 modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
            <form action="#" method="post">
              <div class="styled-input agile-styled-input-top">
                <input type="text" name="Name" required="">
                <label>Name</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="email" name="Email" required="">
                <label>Email</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="password" name="password" required="">
                <label>Password</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="password" name="Confirm Password" required="">
                <label>Confirm Password</label>
                <span></span>
              </div>
              <input type="submit" value="Sign Up">
            </form>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
              <li><a href="#" class="facebook">
                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="twitter">
                  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="instagram">
                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                </a></li>
              <li><a href="#" class="pinterest">
                  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                </a></li>
            </ul>
            <div class="clearfix"></div>
            <p><a href="#">By clicking register, I agree to your terms</a></p>

          </div>
          <div class="col-md-4 modal_body_right modal_body_right1">
            <img src="./../assets/images/log_pic.jpg" alt=" " />
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Modal content-->
    </div>
  </div>
  <!-- //Modal2 -->

  <!-- banner -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#FmyCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h3>Modelo <span>Tony Golf</span></h3>
            <p>¡Compra mi lenceria!</p>
            <a class="hvr-outline-out button2" href="mens.html">Comprar ahora </a>
          </div>
        </div>
      </div>
      <div class="item item2">
        <div class="container">
          <div class="carousel-caption">
            <h3>Modelo <span>Santi & Emma</span></h3>
            <p>¡Compra mi lenceria!</p>
            <a class="hvr-outline-out button2" href="mens.html">Comprar ahora </a>
          </div>
        </div>
      </div>
      <div class="item item3">
        <div class="container">
          <div class="carousel-caption">
            <h3>Modelo <span>yackelyn</span></h3>
            <p>¡Compra mi lenceria!</p>
            <a class="hvr-outline-out button2" href="mens.html">Comprar ahora </a>
          </div>
        </div>
      </div>
      <div class="item item4">
        <div class="container">
          <div class="carousel-caption">
            <h3>Modelo <span>Salome</span></h3>
            <p>¡Compra mi lenceria!</p>
            <a class="hvr-outline-out button2" href="mens.html">Comprar ahora </a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
  </div>
  <!-- //banner -->
  <div class="banner_bottom_agile_info">
    <div class="container">
      <div class="banner_bottom_agile_info_inner_w3ls" *ngIf="lastProducts && lastProducts.length > 0">
        <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" style="height: 300px;">
          <figure class="effect-roxy" style="height: 100%;">
            <div [ngStyle]="{'background-image': 'url(' + lastProducts[0].image + ')'}" class="img-responsive" style="width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center;
            opacity: .4;"></div>
            <figcaption>
              <h3><span>N</span>ovedades</h3>
              <p>Nuevos productos</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" style="height: 300px;">
          <figure class="effect-roxy" style="height: 100%;">
            <div [ngStyle]="{'background-image': 'url(' + lastProducts[1].image + ')'}" class="img-responsive" style="width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center;
            opacity: .4;"></div>
            <figcaption>
              <h3><span>N</span>ovedades</h3>
              <p>Nuevos productos</p>
            </figcaption>
          </figure>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- schedule-bottom -->
  <div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
      <div style="background-image: url(./../assets/images/model2.jpg); height: 550px;" class="img-responsive">

      </div>
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
      <div class="w3ls_schedule_bottom_right_grid">
        <h3>Fantasy<span>Market</span></h3>
        <p>Fantasy se compromete a entregar el prducto en el menor tiempo posible y con las mejores garantias, si no
          recibiste lo que esperabas te devolvemos el dinero!</p>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <h4>Ventas a todo tipo de usuarios</h4>
          <!-- <h5 class="counter">200+</h5> -->
        </div>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <h4>Velocidad de entrega</h4>
          <!-- <h5 class="counter">823</h5> -->
        </div>
        <div class="col-md-4 w3l_schedule_bottom_right_grid1">
          <i class="fa fa-shield" aria-hidden="true"></i>
          <h4>Garantia de compra</h4>
          <!-- <h5 class="counter">45</h5> -->
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!-- //schedule-bottom -->
  <div class="agile_last_double_sectionw3ls" style="margin-top:4em">
    <h3 class="wthree_text_info">Descuentos <span>Increibles</span></h3>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
      <a (click)="goTo('product')">
        <div
          style="background-image: url(./../assets/images/model3.jpg); height: 500px; background-size: contain; opacity: .7;">

        </div>
        <h4 style="color: black; font-weight: bold;">Descuentos del <span>50%</span></h4>
      </a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
      <a (click)="goTo('product')">
        <div
          style="background-image: url(./../assets/images/model4.jpg);height: 500px; background-size: contain; opacity: .7;">

        </div>
        <h4 style="color: black; font-weight: bold;">Descuentos del <span>20%</span></h4>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- banner-bootom-w3-agileits -->

  <div class="banner-bootom-w3-agileits" style="padding-bottom: 0;">
    <div class="container" *ngIf="bestProducts && bestProducts.length > 0">
      <h3 class="wthree_text_info">Mejores <span>Productos</span></h3>

      <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
        <a (click)="goTo('product')">
          <div class="bb-left-agileits-w3layouts-inner grid">
            <figure class="effect-roxy">
              <div [ngStyle]="{'background-image': 'url(' + bestProducts[0].image + ')'}" class="img-responsive" style="width: 100%;
              height: 500px;
              background-size: contain;
              background-position: center;
              opacity: .4;"></div>
              <figcaption>
                <h3><span>M</span>as vendido </h3>
                <p>Lenceria de {{ bestProducts[0].model.name }}</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
        <a href="mens.html">
          <div class="bb-middle-agileits-w3layouts grid">
            <figure class="effect-roxy">
              <div [ngStyle]="{'background-image': 'url(' + bestProducts[1].image + ')'}" class="img-responsive" style="width: 100%;
              height: 242px;
              background-size: contain;
              background-position: center;
              opacity: .4;"></div>
              <figcaption>
                <h3><span>P</span>roducto destacado </h3>
                <p>Lenceria de {{ bestProducts[1].model.name }}</p>
              </figcaption>
            </figure>
          </div>
        </a>
        <a href="mens.html">
          <div class="bb-middle-agileits-w3layouts forth grid">
            <figure class="effect-roxy">
              <div [ngStyle]="{'background-image': 'url(' + bestProducts[2].image + ')'}" class="img-responsive" style="width: 100%;
              height: 242px;
              background-size: contain;
              background-position: center;
              opacity: .4;"></div>
              <figcaption>
                <h3><span>M</span>uy vendido </h3>
                <p>Lenceria de {{ bestProducts[2].model.name }}</p>
              </figcaption>
            </figure>
          </div>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--/grids-->

  <!--/grids-->
  <!-- /new_arrivals -->
  <div class="new_arrivals_agile_w3ls_info">
    <div class="container">
      <h3 class="wthree_text_info">Nuevos <span>Productos</span></h3>
      <div id="horizontalTab">
        <ul class="resp-tabs-list" style="display: flex;
        flex-wrap: wrap;">
          <li [ngClass]="{'resp-tab-active': tabSelected === CATEGORIE.MEN}" (click)="selectTab(CATEGORIE.MEN)"><span>
              Hombre</span></li>
          <li [ngClass]="{'resp-tab-active': tabSelected === CATEGORIE.WOMEN}" (click)="selectTab(CATEGORIE.WOMEN)">
            <span> Mujer</span>
          </li>
          <li [ngClass]="{'resp-tab-active': tabSelected === CATEGORIE.BISEXUAL}"
            (click)="selectTab(CATEGORIE.BISEXUAL)"><span> Bisexual</span></li>
          <li [ngClass]="{'resp-tab-active': tabSelected === CATEGORIE.LESBIAN}" (click)="selectTab(CATEGORIE.LESBIAN)">
            <span> Lesbiana</span>
          </li>
          <li [ngClass]="{'resp-tab-active': tabSelected === CATEGORIE.GAY}" (click)="selectTab(CATEGORIE.GAY)"><span>
              Gay</span></li>
        </ul>
        <div class="resp-tabs-container">
          <!--/tab_one-->
          <div class="tab1">
            <app-grid-products [products]="filterNewProducts()"></app-grid-products>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //new_arrivals -->
  <!-- /we-offer -->
  <div class="sale-w3ls">
    <div class="container">
      <h6>Aprovecha nuestros descuentos de hasta <span style="color: #fac985 ;">40%</span> de descuento</h6>

      <a class="hvr-outline-out button2" href="single.html">Comprar ahora </a>
    </div>
  </div>
  <!-- //we-offer -->
  <!--/grids-->
  <div class="coupons">
    <div class="coupons-grids text-center">
      <div class="w3layouts_mail_grid">
        <div class="col-md-4 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>ENVIOS GRATIS</h3>
            <p>Hacemos envios a todas las partes del mundo</p>
          </div>
        </div>
        <div class="col-md-4 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-headphones" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>SOPORTE 24/7</h3>
            <p>En todo momento tenemos soporte</p>
          </div>
        </div>
        <!--  <div class="col-md-4 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>GARANTIA DE DINERO</h3>
            <p>Si no estas satisfecho con la prenda, te devolvemos el dinero!</p>
          </div>
        </div> -->
        <div class="col-md-4 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <i class="fa fa-gift" aria-hidden="true"></i>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>DESCUENTOS Y MUCHO MAS</h3>
            <p>Tenemos muchas promociones y descuentos para ti</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>

    </div>
  </div>
  <!--grids-->

  <!-- login -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-spa">
          <div class="login-grids">
            <div class="login">
              <div class="login-bottom">
                <h3>Sign up for free</h3>
                <form>
                  <div class="sign-up">
                    <h4>Email :</h4>
                    <input type="text" value="Type here" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                  </div>
                  <div class="sign-up">
                    <h4>Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">

                  </div>
                  <div class="sign-up">
                    <h4>Re-type Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">

                  </div>
                  <div class="sign-up">
                    <input type="submit" value="REGISTER NOW">
                  </div>

                </form>
              </div>
              <div class="login-right">
                <h3>Sign in with your account</h3>
                <form>
                  <div class="sign-in">
                    <h4>Email :</h4>
                    <input type="text" value="Type here" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                  </div>
                  <div class="sign-in">
                    <h4>Password :</h4>
                    <input type="password" value="Password" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <a href="#">Forgot password?</a>
                  </div>
                  <div class="single-bottom">
                    <input type="checkbox" id="brand" value="">
                    <label for="brand"><span></span>Remember Me.</label>
                  </div>
                  <div class="sign-in">
                    <input type="submit" value="SIGNIN">
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy
                Policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //login -->
  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
    </span></a>


</body>

</html>