<!-- footer -->
<div class="footer">
  <div class="footer_agile_inner_info_w3l">
    <div class="col-md-3 footer-left">
      <img src="./../assets/images/logo.png" alt="" width="200">
      <p>¡Vive tu fantasia! <br> Siguenos en nuestras redes sociales:</p>
      <ul class="social-nav model-3d-0 footer-social w3_agile_social two" style="margin-top: 20px;">
        <li><a href="#" class="facebook">
            <div class="front"><i class="fa fa-facebook" (click)="goToPage('facebook')" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-facebook" (click)="goToPage('facebook')" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="twitter">
            <div class="front"><i class="fa fa-twitter" (click)="goToPage('twitter')" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-twitter" (click)="goToPage('twitter')" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="instagram">
            <div class="front"><i class="fa fa-instagram" (click)="goToPage('instagram')" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-instagram" (click)="goToPage('instagram')" aria-hidden="true"></i></div>
          </a></li>
      </ul>
    </div>
    <div class="col-md-9 footer-right">
      <div class="sign-grds">
        <div class="col-md-5 sign-gd">
          <h4>Nuestra <span>Informacion</span> </h4>
          <ul>
            <li><a (click)="goTo('home')">Inicio</a></li>
            <li><a (click)="goTo('models')">Modelos</a></li>
            <li><a (click)="goTo('products')">Articulos de mujeres</a></li>
            <li><a (click)="goTo('products')">Articulos de hombres</a></li>
            <li><a (click)="goTo('contact')">Contactános</a></li>
          </ul>
        </div>

        <div class="col-md-7 sign-gd-two">
          <h4>Informacion de la <span>Tienda</span></h4>
          <div class="w3-address">
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Numero de telefono</h6>
                <p>+57 324 4067864</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Direccion de correo</h6>
                <p>Email :<a href="mailto:example@email.com"> fantasystudiowc@gmail.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
           <!--  <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Ubicación</h6>
                <p>
                  Cra 82b # 29 - 14. Medellin, Colombia
                </p>
              </div>
              <div class="clearfix"> </div>
            </div> -->
          </div>
        </div>
        <!--  <div class="col-md-3 sign-gd flickr-post">
          <h4>Flickr <span>Posts</span></h4>
          <ul>
            <li><a href="single.html"><img src="./../assets/images/t1.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t3.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t4.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t1.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t3.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a href="single.html"><img src="./../assets/images/t4.jpg" alt=" " class="img-responsive" /></a>
            </li>
          </ul>
        </div> -->
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="agile_newsletter_footer">
      <div class="col-sm-6 newsleft">
        <h3>REGISTRATE PARA OBTENER OFERTAS !</h3>
      </div>
      <div class="col-sm-6 newsright">
        <form action="#" method="post">
          <input type="email" placeholder="Ingresa tu email..." name="email" required="">
          <input type="submit" value="Enviar">
        </form>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //footer -->